* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 100vh;
    max-width: 800px;
    margin: auto;
}

header {
background-color: aqua;

padding: 20px;
color: white;
border-radius: 12px;
font-size: 22px;
font-weight: 600;
border: 5px solid blue;
text-align: center;
margin: 10px;
}

nav {

padding: 10px;
background-color: blue;
color: white;
border-radius: 12px;
font-size: 22px;
font-weight: 600;
border: 5px solid blue;
margin: 10px;
}

section {


}

footer {
background-color: aqua;

padding: 16px;
text-align: center;
color: white;
border-radius: 12px;
font-size: 22px;
font-weight: 600;
border: 5px solid blue;
margin: 10px;
}




.galery {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, auto);
gap: 16px;



}

.galery img{
width: 240px;
height: 200px;
border-radius: 12px;
border: 5px solid blue;
}

.nyito {
  float: left;
  padding: 5px;
  
  
}

.megism {
  float: left;
  padding: 5px;
  
  
}

.elo {
  float: left;
  padding: 5px;
  
  
}

.galeria {
    text-decoration: none;
    padding: 5px;
    color: yellow;
    
  
  
}

@media screen and (max-width: 800px) {
    .galery {
        grid-template-columns: repeat(2,1fr);
    }

    #nav a {
        width: 100%;
    }

    .nyito, .megism, .elo, .galeria {
        width: 100%;
    }
    
}